body{
    margin:0;
    font-family:Arial;
    background:#ff4d6d;
}

.screen{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    position:relative;
}

.hidden{
    display:none;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:20px;
    cursor:pointer;
    margin:10px;
}

.buttonRow{
    display:flex;
    gap:20px;
}

/* Buttons */

.yesBtn{
    background:blue;
    color:white;
}

.noBtn{
    background:red;
    color:white;
}

.openBlue{
    background:blue;
    color:white;
}

.noRed{
    background:red;
    color:white;
}

/* TOP SCREEN TITLE */

.topHeading{
    position:absolute;
    top:20px;
    width:100%;
    text-align:center;
    font-family:'Dancing Script', cursive;
    font-size:38px;
}

/* Envelope */

.envelope{
    position:relative;
    width:380px;
    height:240px;
}

/* Envelope body */

.envBody{
    position:absolute;
    width:100%;
    height:100%;
    background:white;
    border-radius:5px;
}

/* Flap */

.envFlap{
    position:absolute;
    width:0;
    height:0;
    border-left:190px solid transparent;
    border-right:190px solid transparent;
    border-bottom:120px solid #e63946;
    top:-120px;
    transition:1s;
    transform-origin:bottom;
}

/* Open button */

.openBtn{
    position:absolute;
    top:100px;
    left:135px;
    background:blue;
    color:white;
    font-weight:bold;
}

/* Letter paper */

.letterPaper{
    position:absolute;
    width:150%;
    height:10;
    background:#f5e6c8;
    top:10px;
    left:2.5%;
    padding:20px;
    overflow:hidden;
    transition:1s;
    border-radius:8px;
}

#letterText{
    font-family:'Dancing Script', cursive;
    font-size:18px;
    line-height:1.6;
    color:#5a3e2b;
}

/* Open animation */

.envelope.open .envFlap{
    transform:rotateX(180deg);
}

.envelope.open .letterPaper{
    height:460px;
    top:-160px;
}

/* Final */

.finalContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
}
#continueBtn{
    position:absolute;
    bottom:40px;   /* distance from bottom */
    left:50%;
    transform:translateX(-50%);
}

.circleBg{
    width:220px;
    height:220px;
    border-radius:50%;
    background:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.loveImage{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
}

#final h1{
    text-shadow:0 0 20px pink;
}
